<nav>
    <div class="logo">
        <img src="" alt="">
    </div>
    <div class="menu">
        <div><span></span> <a href="">Home</a></div>
        <div><span></span><a href="">Case1</a></div>
        <div><span></span><a href="">case2</a></div>
        <div><span></span><a href="">case3</a></div>
        <div><span></span><a href="">case4</a></div>
        <a class="dropdown" href="">Tracker</a>
        <div class="tracker-dropdown">
            <a href="">case1</a>
            <a href="">case2</a>
            <a href="">case3</a>
            <a href="">case4</a>
        </div>
    </div>
    
</nav>
