<nav>
    <div class="menubar">
        <ul id="menu">
            <li><div><a  class="logo"href=""><img src="/static/images/logo (1).svg" alt=""></a> 
             </div>
                   </li>
            <li><a href="#">Home</a></li>
            <li><a href="#">Case1</a></li>
            <li><a href="#">Case2</a></li>
            <li><a href="#">Case3</a></li>
            <li><a href="#">Case4</a>
                <ul>
                    <li><a href="#">Case112345</a></li>
                    <li><a href="#">Case2324454</a></li>
                    <li><a href="#">Case3234224234</a></li>
                    <li><a href="#">Case4342342342</a></li>
                </ul>
             </li>
             <li class="search"><div >   
                <form action="" method="get">
                    <input type="text" value="search case">
                    <button><i class="fas fa-search"></i></button>
                </form></div></li>
        </ul>
    </div>
    
      
    
</nav>
